@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0f;
  --foreground: #f5f5f7;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}
